@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
     font-family: 'Roboto', sans-serif;

}

body {
    background-color: rgb(167, 222, 125);
}

.container {
    width: 90%;
    margin: auto;
    padding-top: 100px;
    display: flex;
}

.left-details,
.right-details {
    flex-basis: 50%;
}

.left-details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,0.5fr));
    grid-gap: 2rem;
}

.box {
    width: 300px;
    background-color: rgb(43, 43, 43);
    border-radius: 1rem;
    border-color: rgb(114, 114, 235);
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    color: white;
}

.right-details{
    width: 50%;
    text-align: center;
    color: black;
    position: fixed;
    top: 100px;
    right: 10px;
}
.right-details img{
    margin: 2rem;
    height: 180px;
}

.right-details h1{
    text-transform: uppercase;
    font-weight: bold;
}
.abilities{
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

.abilities .group{
    background-color: #ff7f07;
    color: white;
    padding: 0.5rem;
    font-size: 12px;
    border-radius: 8px;
   text-shadow: 1px 1px #aaaaaa;
}
.base-stat{
    margin-top: 2rem;
}
.button-group{
    display: flex;
}
.button-group button{
    outline: none;
    border: none;
    width: 150px;
    padding: 0.3rem 0;
    margin: 1rem;
    font-size: 17px;
    font-weight: bold;
    color: rgb(102, 99, 99);
    background-color:rgb(255, 255, 255);
}